@import 'tailwindcss';
@import 'uniwind';

@import 'heroui-native/styles';

/* Path to the heroui-native lib inside node_modules from the root of your project */
@source '../../node_modules/heroui-native/lib';

@theme {
  --background: #F2F2EA;
  --color-default-foreground: white;

  --color-primary: #e2296f;
  --color-primary-50: #fdf2f7;
  --color-primary-100: #fbe9f1;
  --color-primary-200: #fad2e5;
  --color-primary-300: #fcaad0;
  --color-primary-400: #fa6ead;
  --color-primary-500: #f44791;
  --color-primary-600: #e2296f;
  --color-primary-700: #c41955;
  --color-primary-800: #a11646;
  --color-primary-900: #86173d;
  --color-primary-950: #52031f;
  --color-secondary-50: #f9fde6;
  --color-secondary-100: #eef7cc;
  --color-secondary-200: #ddef9d;
  --color-secondary-300: #c5e45b;
  --color-secondary-400: #a9d203;
  --color-secondary-500: #8cb700;
  --color-secondary-600: #6d9300;
  --color-secondary-700: #537004;
  --color-secondary-800: #445a0b;
  --color-secondary-900: #3b4e0d;
  --color-secondary-950: #1f2d00;
}