@import 'tailwindcss';
@import 'uniwind';

@theme {
  --color-background: #F2F2EA;
  --color-foreground: 222.2 84% 4.9%;
  --color-card: 0 0% 100%;
  --color-card-foreground: 222.2 84% 4.9%;
  --color-popover: 0 0% 100%;
  --color-popover-foreground: 222.2 84% 4.9%;
  --color-primary-foreground: white;
  --color-secondary: 210 40% 96%;
  --color-secondary-foreground: 222.2 84% 4.9%;
  --color-muted: 210 40% 96%;
  --color-muted-foreground: 215.4 16.3% 40%;
  --color-accent: 210 40% 96%;
  --color-accent-foreground: 222.2 84% 4.9%;
  --color-destructive: 0 84.2% 60.2%;
  --color-destructive-foreground: 210 40% 98%;
  --color-border: 214.3 31.8% 91.4%;
  --color-input: 214.3 31.8% 91.4%;
  --color-ring: 221.2 83.2% 53.3%;
  --color-radius: 8px;

  --color-primary: #e2296f;
  --color-primary-50: #fdf2f7;
  --color-primary-100: #fbe9f1;
  --color-primary-200: #fad2e5;
  --color-primary-300: #fcaad0;
  --color-primary-400: #fa6ead;
  --color-primary-500: #f44791;
  --color-primary-600: #e2296f;
  --color-primary-700: #c41955;
  --color-primary-800: #a11646;
  --color-primary-900: #86173d;
  --color-primary-950: #52031f;
  --color-secondary-50: #f9fde6;
  --color-secondary-100: #eef7cc;
  --color-secondary-200: #ddef9d;
  --color-secondary-300: #c5e45b;
  --color-secondary-400: #a9d203;
  --color-secondary-500: #8cb700;
  --color-secondary-600: #6d9300;
  --color-secondary-700: #537004;
  --color-secondary-800: #445a0b;
  --color-secondary-900: #3b4e0d;
  --color-secondary-950: #1f2d00;
}